.elements {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.elements__cards {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 18px;
  row-gap: 20px;
}

.elements__card {
  background-color: #ffffff;
  max-width: 282px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.elements__image {
  width: 100%;
  height: 282px;
  border-radius: 10px 10px 0px 0px;
}

.elements__image-button {
  border: none;
  padding: 0;
  cursor: pointer;
  border-radius: 10px 10px 0px 0px;
}

.elements__button_type_trash {
  background: none;
  border: none;
  padding: 0;
  position: absolute;
  top: 18px;
  right: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.elements__button_type_trash:hover {
  opacity: 60%;
}

.elements__title {
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
  padding-left: 21px;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  line-height: 1.21;
  font-size: 20px;
  padding: 25px;
  padding-bottom: 31px;
}

.elements__text {
  margin-top: 0;
  margin-bottom: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.elements__button_type_like {
  max-width: 21px;
  max-height: 19px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.elements__button_type_like-active {
  background: url(https://practicum-content.s3.us-west-1.amazonaws.com/web-code/dom/moved_heart-filled.svg)
    center no-repeat;
}

.elements__button_type_like:hover {
  opacity: 60%;
}

.elements__icon_type_like-icon {
  max-width: 21px;
  max-height: 19px;
}

.elements__window {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  top: 0px;
  right: 0px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.elements__window_opened {
  display: flex;
}

.elements__container {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #ffffff;
  font-size: 12px;
  line-height: 1.21;
}

.elements__window-image {
  max-height: 75vh;
  max-width: 75vw;
}

.elements__button_type_close {
  padding: 0;
  position: absolute;
  top: -35px;
  right: -45px;
  background: none;
  border: 0;
  cursor: pointer;
  height: 40px;
  width: 40px;
}

@media screen and (max-width: 860px) {
  .elements__cards {
    display: block;
  }

  .elements__card {
    margin-top: 21px;
  }
}
