.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 882px;
  padding-top: 45px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #545454;
}

.header__logo {
  width: 173px;
  padding-bottom: 41px;
}
